body {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#container1{
    height: 100vh;
    border: solid red ;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.808) ,rgba(255, 255, 0, 0.699), rgb(102, 255, 0));
}

#container-2{
    width: 100%;
}

#row1 {
    /* border: black solid; */
    border-radius: 3%;
    /* height: 80vh; */
    background-color: rgba(180, 70, 70, 0.5);

}


h2{
   text-align: center;
    font-weight: bolder;
}
h4{
    text-align: center;
}

.h-one {
    text-align: center;
    font-size: 500%;
}




p{
    width: 70%;
    margin: auto;
    padding: 2%;
}
 
form {
    width: 80%;
    /* padding: 5%; */
}

#submit {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.808) ,rgba(255, 255, 0, 0.699), rgb(102, 255, 0));
    width: 25%;
    border-radius: 10PX;
}
